<div>
    <form method="post" action="/names">
        <label for="player-one-name">Player 1 name</label>
        <input type="text" name="player-one-name">
        <br>
        <label for="player-two-name">Player 2 name</label>
        <input type="text" name="player-two-name">
        <input type="submit" value="submit">
    <form>
</div>