<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/main.css">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="Philip Vigus"/>
        <meta name="description" content="Page description here"/>
        <title>Title of the document</title>
    </head>

    <body>
        <div class="name-form-container">
            <div class="name-form">
                <form method="post" action="/names">
                    <div class="name-form__name-row">
                        <label for="player-one-name">Player 1 name</label>
                        <input class="name-form__name-input" type="text" name="player-one-name">
                    </div>
                    <div class="name-form__name-row">                  
                        <label for="player-two-name">Player 2 name</label>
                        <input class="name-form__name-input" type="text" name="player-two-name">
                    </div>
                    <input class="name-form__submit-button" type="submit" value="submit">
                <form>
            </div>  
        </div>
    </body>
</html>
